doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title webGL - Template
    link(rel='stylesheet', href='css/index.css')
    script(src='https://preview.babylonjs.com/babylon.js')
    script(src='https://preview.babylonjs.com/loaders/babylon.glTFFileLoader.js')
    script(srv='https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js')
    script(src='https://preview.babylonjs.com/gui/babylon.gui.min.js')
    script(src='https://code.jquery.com/pep/0.4.3/pep.min.js')
    script(src='js/index.js')
  body
    canvas#renderCanvas(touch-action='none')